Fung2014.pdf
GRF1314_datanotes.txt
GRF1314_todo.txt
KimberlyMLM.pdf
Progress report 2017.docx
demographics.xlsx
demographics_check_060516.xlsx
eye_data/2waypicculrel.txt
eye_data/2wayvalence.txt
eye_data/3wayfullrecoded.txt
eye_data/3wayfullrecoded_age.txt
eye_data/3wayfullrecoded_age2.txt
eye_data/3waypicculrel.txt
eye_data/3waypicvalence.txt
eye_data/3ways.chinese.txt
eye_data/3ways.us.txt
eye_data/3ways1.txt
eye_data/3ways2.txt
eye_data/3ways3.txt
eye_data/3ways4.txt
eye_data/3wayvalence.txt
eye_data/4way.txt
eye_data/Rplot_full3ways_estimates.png
eye_data/both3ways.txt
eye_data/compare3waymodels.txt
eye_data/compareModels3ways.txt
eye_data/covmatrix.txt
eye_data/eyedata_analysis_notes.txt
eye_data/full2ways.txt
eye_data/outliers_plots.pdf
eye_data/raw eye data/
eye_data/simplemodel.txt
eye_data/spss/eye_data_analysis_steps.txt
eye_data/spss/eyedata_AOI_aggregated_HK_1.sav
eye_data/spss/eyedata_AOI_aggregated_US.sav
eye_data/spss/eyedata_AOI_restructured_all_4.sav
eye_data/spss/eyedata_HK_sample.sav
eye_data/spss/eyedata_US_sample.sav
eye_data/spss/eyedata_syntax.sps
eye_data/subjectIDs.xlsx
eye_data/unconditionalmodel.txt
irbs/
manuscript.docx
mood data/
notes.notes
qualtrics_data/
residualplotFixMod2c2.png
stim data/
mood_data/AffectGridThreshold.txt
mood_data/HK_OA.txt
mood_data/HK_YA.txt
mood_data/Merged_MainTask_US.txt
mood_data/VidPlay_Merged.txt
mood_data/affectGrid.png
mood_data/analysis_diary.txt
mood_data/mood-valence-2ways.txt
mood_data/mood-valence-3ways.txt
mood_data/mood-valence-4way.txt
mood_data/mood-valence-empt.txt
mood_data/mood-valence-simple.txt
mood_data/readme.txt
stim_data/AOI_sizes_1.sav
stim_data/ChineseIAPS_Pilot_FullAOI_20161020.sav
stim_data/ChineseIAPS_Pilot_Full_20161020.sav
stim_data/ChineseIAPS_V & A_20161018.xlsx
stim_data/ChineseIAPS_restructured.sav
stim_data/ChineseIAPS_restructured_cleaned_1.sav
stim_data/Pics_Feb2015.pptx
stim_data/Picture_analysis_syntax.sps
stim_data/PixelAreas.xls
stim_data/SlideLZPixel_20150710.xlsx
stim_data/Syntax_010316.sps
